<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Testifier Audit Report</title>
<link
  rel="stylesheet"
  href="https://unpkg.com/tabulator-tables@6.3.0/dist/css/tabulator_modern.min.css"
/>
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.7/dist/tippy.css" />
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6.3.7/themes/light-border.css" />
<link rel="stylesheet" href="{{ report_assets.css_url }}" />
